<!DOCTYPE html>
<html>
  <head>
    <title>Master Of Calculator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
